<ion-pane>
	<ion-view title="{{header}}">
		<ion-content class="has-header custom" has-bouncing="false">
			<div class="page-content normal-padding">
				<div class="col-block3 ">
  					<img class="img-responsive"  src="img/icon-measurement.png">
  					<p class="title-space01"> Measurements </p>
				</div>
				<a class="col-block3" ui-sref="app.loggedin.myprogressphoto">
 					<img class="img-responsive" src="img/icon-camera.png">
 					<p class="title-space02"> Photo</p>
				</a>
				<div class="col-block3">
  					<img class="img-responsive" src="img/icon-fitness.png">
 					<p class="title-space03"> Fitness Tests  </p>
				</div>
			</div>
		</ion-content>
	</ion-view>
</ion-pane>