<ion-pane>	
	<ion-view title="{{header}}">
		<ion-content class="has-header custom" style="background: url('{{currentNutrition.image}}'); background-size: cover;" has-bouncing="false">
			<div class="page-content">
				<div class="same-badge-left">{{currentNutritionType.type}}</div>
				<div class="same-item-content">{{currentNutrition.title}}</div>

				<div class="middle-items">
					<button class="btn-green red-on-active left-align no-bottom-margin" ng-click="toggleAll()">
						{{currentMethod.title}}
						<span class="arrowdown-white"></span>
					</button>


					<div ng-if="showAll">
						<button class="btn-green red-on-active left-align no-bottom-margin" ng-if="method.id!=currentMethod.id" ng-click="changeMethod(method)" ng-repeat="method in methods">
							{{method.title}}
						</button>	
					</div>
				</div>
			</div>
		</ion-content>
	</ion-view>
</ion-pane>