<ion-pane>
	<ion-view title="{{header}}">
		<ion-content class="has-header custom" has-bouncing="false">
			<div class="page-content">
				<div class="congrats-message">
					<h1 class="large-title">Congratulations!</h1>
					<h4 class="small-tt">You have finished your meal</h4>

					<div class="points-container">
						<div class="point">+50 pts</div>
						<div class="point-message">Eating a healthy Active8me meal</div> 
					</div>		
				</div>
				<div class="bottom-fixed">
		  			<button class="btn-green red-on-active no-bottom-margin" ui-sref="app.loggedin.home">DONE</button>
		  		</div>
			</div>
		</ion-content>
	</ion-view>
</ion-pane>